:root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Playfair Display", sans-serif;
    --color-primary: #FF7757;
    --color-primary-light: #FFD2C7;
    --color-secondary: #172432;
    --color-secondary-light: #48A0FF;
    --color-card-background: #FFF8F1;
    --color-grey: #767E86;
    --color-white: #FFFFFF;
    --color-overlay-primary: rgba(255, 119, 87, 0.1);
    --color-overlay-black: rgba(0, 0, 0, 0.3);
    --transition-duration: 0.3s;
    --scale: scale(1.01);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--color-secondary);
    background-color: var(--color-white);
}

img {
    max-width: 100%;
    will-change: transform;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

/* Container */

.container {
    max-width: 1556px;
    margin: 0 auto;
}

/* Title and text */

.h1-title {
    font-family: var(--second-family);
    font-size: 84px;
    font-weight: 400;
    color: var(--color-white);
}

.h2-title {
    font-family: var(--second-family);
    font-size: 64px;
    font-weight: 400;
    color: var(--color-secondary);
}

.h3-title {
    font-family: var(--second-family);
    font-size: 54px;
    font-weight: 400;
    color: var(--color-secondary);
}

.h4-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 28px;
    color: var(--color-white);

}

.h5-title {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-grey);
}

.h6-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: var(--color-white);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-secondary);
}

/* Logo */

.logo {
    display: block;
    width: 234px;
    height: auto;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

.item-link {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-white);
    position: relative;
    transition: all var(--transition-duration);
}

.item-link::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    display: block;
    width: 0;
    height: 3px;
    background: var(--color-primary);
    transition: all var(--transition-duration);
}

.item-link:hover::after {
    width: 100%;
}

/* Buttons */

.btn {
    padding: 20px 32px;
    border-radius: 12px;
    border: 2px solid var(--color-primary);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: all var(--transition-duration);
    cursor: pointer;
}

.btn:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    transform: scale(1.05);
}

/* Navigatoins buttons */

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 60px;
    border-radius: 12px;
    transition: all var(--transition-duration);
}

.nav-btn__icon path {
    transition: all var(--transition-duration);
}

.nav-btn--left {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}

.nav-btn--left:hover {
    background-color: var(--color-secondary-light);
    transform: scale(1.05);
}

.nav-btn--left:hover .nav-btn__icon path {
    stroke: var(--color-secondary);
}

.nav-btn--right {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.nav-btn--right:hover {
    background-color: var(--color-primary-light);
    transform: scale(1.05);
}

.nav-btn--right:hover .nav-btn__icon path {
    stroke: var(--color-primary);
}

/* Titleprimiry */

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-wrapper__title {
    display: flex;
    flex-direction: column;
}

.title-wrapper__title::after {
    display: block;
    content: '';
    width: 60%;
    height: 3px;
    background-color: var(--color-primary);
    margin: 20px 0 32px;
    align-self: flex-start;
}

.title-wrapper__text {
    color: var(--color-grey);
}

.title-wrapper--right {
    align-items: flex-end;
}

.title-wrapper--right .title-wrapper__title::after {
    align-self: flex-end;
}

/* CARDS */

/* Travelspot Card */

.travelspot-card {
    border-radius: 26px;
    position: relative;
    transition: all var(--transition-duration);
    overflow: hidden;
}

.travelspot-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.travelspot-card:hover .travelspot-card__img {
    transform: var(--scale);
}

.travelspot-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 17px;
    height: 661px;
    padding: 40px 24px;
}

.travelspot-card__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    background-color: rgba(255, 119, 87, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    transition: all var(--transition-duration);
}

.travelspot-card__overlay {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-overlay-primary);
    will-change: opacity, transform;
}

.travelspot-card__location {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-white);
}

.travelspot-card__location::before {
    content: url(/img/location-icon.svg);
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

/* Offer Card */

/* ---raiting block--- */

.raiting {
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    justify-content: flex-end;
    gap: 4px;
}

.raiting__input {
    display: none;
}

.raiting__label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all var(--transition-duration);
}

.raiting__input:checked~.raiting__label,
.raiting__input:checked~.raiting__label~.raiting__label {
    background-image: url("/img/star-active.svg");
}

.raiting__input:not(:checked)~.raiting__label:hover,
.raiting__input:not(:checked)~.raiting__label:hover~.raiting__label {
    background-image: url("/img/star-hover.svg");
}


.offer-card {
    background-color: var(--color-card-background);
    border-radius: 26px;
    transition: all var(--transition-duration);
    position: relative;
}

.offer-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.offer-card:hover .offer-card__img {
    transform: var(--scale);
}

.offer-card__img {
    display: block;
    height: 286px;
    width: 100%;
    object-fit: cover;
    transition: all var(--transition-duration);
}

.offer-card__img-wrapper {
    display: block;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    overflow: hidden;
    position: relative;
}

.offer-card__img-wrapper::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay-primary);
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity, transform;
}

.offer-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 40px 24px;
}

.offer-card__title {
    margin-bottom: 8px;
    color: var(--color-grey);
}

.offer-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.offer-card__price-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.offer-card__from {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-grey);
}

.offer-card__price {
    font-weight: 400;
    font-size: 40px;
    color: var(--color-primary);
}

.offer-card__btn {
    text-transform: uppercase;
    padding: 20px 40px;
}

/* Tours card */

.tours-card {
    border-radius: 26px;
    position: relative;
    transition: all var(--transition-duration);
    height: 399px;
    width: 300px;
}

.tours-card:hover,
.tours-card.hover-effect {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(73px);
}

.tours-card:hover .tours-card__img-wrapper {
    transform: translateY(-146px);
}

.tours-card__img-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    transition: all var(--transition-duration);
}

.tours-card__img-wrapper::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay-black);
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity, transform;
}

.tours-card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tours-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    padding: 46px 16px 20px;
    background-color: var(--color-white);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: all var(--transition-duration);
}

.tours-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tours-card__title {
    color: var(--color-secondary);
}

.tours-card__type {
    text-transform: uppercase;
}

/* Gallery card */

.gallery-card:hover .gallery-card__img-wrapper {
    transform: translateY(-40px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.gallery-card:hover .gallery-card__img {
    transform: var(--scale);
}

.gallery-card__img {
    display: block;
    height: 570px;
    width: 100%;
    border-radius: 26px;
    object-fit: cover;
    transition: all var(--transition-duration);
}

.gallery-card__img-wrapper {
    display: block;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all var(--transition-duration);
}

.gallery-card__img-wrapper::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay-black);
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity, transform;
}

/* Review card */

.review-card__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 663px;
    border-radius: 12px;
    padding: 60px 40px 40px;
    background-color: #F5F6F7;
    position: relative;
    transition: all var(--transition-duration);
}

.review-card__content:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.review-card__photo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    position: absolute;
    top: -65px;
    left: 40px;
}

.review-card__text {
    line-height: 128%;
    color: var(--color-grey);
}

.review-card__personal-title {
    color: var(--color-grey);
    margin-top: 4px;
}

/* Banners slide */

.banner-slide {
    width: 100%;
    height: 1194px;
    padding: 270px 0;
    position: relative;
}

.banner-slide::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-overlay-black);
    will-change: opacity, transform;
}

.banner-slide__img {
    display: block;
    width: 100%;
    height: 1194px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner-slide__titles-wrapper {
    max-width: 900px;
    color: var(--color-white);
}

.banner-slide__h6-title {
    margin-top: 16px;
    font-weight: 400;
}

/* Banners form */
.search {
    display: flex;
    width: fit-content;
    background-color: var(--color-white);
    border-radius: 0 20px 20px 0;
}

.search__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    border: none;
    padding: 74px 100px 74px 0;
}

.search__label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 0;
    width: 100%;
    text-transform: uppercase;
    color: var(--color-grey);
    position: relative;
}

.search__input {
    display: block;
    width: 100%;
    font-family: var(--second-family);
    font-size: 20px;
    color: var(--color-secondary);
    text-align: left;
    text-align-last: left;
    padding: 0 10px 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-secondary);
    background-color: transparent !important;
    -webkit-appearance: none;
    appearance: none;
}

.search__label:nth-child(2) .search__input{
    cursor: pointer;
}

.search__label--arrow::after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid var(--color-secondary);
    border-left: 1px solid var(--color-secondary);
    transform: rotate(-45deg);
    position: absolute;
    right: 4px;
    bottom: 18px;
    z-index: -1;
    transition: all var(--transition-duration);
}

.search__label--arrow:focus-within::after{
    transform: translateY(50%) rotate(135deg);
}

.search__btn {
    font-family: var(--second-family);
    font-size: 36px;
    color: var(--color-white);
    border-radius: 0 20px 20px 0;
    padding: 0 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 170px;
}

.search__btn:hover {
    transform: none;
}

.search__btn-arrow {
    flex-shrink: 0;
}

.search__btn-arrow path {
    transition: all var(--transition-duration);
}

.search__btn:hover .search__btn-arrow path {
    fill: var(--color-primary);
}



/* FOOTER */

.footer {
    margin-top: 109px;
    padding: 240px 0 140px;
    background-color: var(--color-secondary);
    position: relative;
}

.footer__main-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer__main-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__sub-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}

.footer__sub-list--icons {
    flex-direction: row;
    gap: 24px;
}

.footer__sub-item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
}

.footer__copyright {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

.footer .item-link::after {
    height: 2px;
}

.logo-link svg path,
.networks__icon path {
    transition: all var(--transition-duration);
}

.logo-link:hover svg path,
.networks__icon:hover path {
    fill: var(--color-primary);
}

.footer__subscribe {
    display: flex;
    width: max-content;
    gap: 100px;
    margin: 0 auto;
    border-radius: 26px;
    padding: 60px 80px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--color-white);
    position: absolute;
    top: -109px;
    left: 50%;
    transform: translateX(-50%);
}

.subscribe__title {
    color: var(--color-grey);
}

.subscribe__label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    color: var(--color-grey);
}

.subscribe__form {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.subscribe__input {
    min-width: 372px;
    padding: 24px 40px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-card-background);
    border-radius: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-secondary);
    outline: none;
}

.subscribe__input::placeholder {
    color: var(--color-primary);
}

.subscribe__btn {
    padding: 24px 32px;
}

/************************** 
*******  INDEX.HTML  ******
**************************/

/* HEADER */

.header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    padding: 32px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn--transperent {
    background: none;
    border-color: var(--color-white);
}

.header__btn--transperent:hover {
    background: none;
    border-color: var(--color-primary);
}

/* ----------- 🍔Burger menu🍔------------- */

.burger-menu {
    display: none;
}

.burger-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    transition: all var(--transition-duration);
    z-index: 1000;
}

.burger-item--left,
.burger-item--right {
    display: block;
    width: 18.75px;
    height: 3px;
    background-color: var(--color-white);
    position: relative;
    transition: all var(--transition-duration);
}

.burger-item--left::before,
.burger-item--right::before,
.burger-item--left::after,
.burger-item--right::after {
    content: '';
    display: block;
    height: 3px;
    width: 18.75px;
    background-color: var(--color-white);
    position: absolute;
    transition: all var(--transition-duration);
}

.burger-item--left::before,
.burger-item--right::before {
    top: -10px;
}

.burger-item--left::after,
.burger-item--right::after {
    bottom: -10px;
}

.header.open .burger-item--left,
.header.open .burger-item--right {
    background-color: transparent;
}

.header.open .burger-item--left::before {
    transform: rotate(45deg) translate(4.75px, 0.25px);
    background-color: var(--color-primary);
}

.header.open .burger-item--right::after {
    transform: rotate(45deg) translate(-4.75px, -0.25px);
    background-color: var(--color-primary);
}

.header.open .burger-item--left::after {
    transform: rotate(-45deg) translate(4.75px, -0.25px);
    background-color: var(--color-primary);
}

.header.open .burger-item--right::before {
    transform: rotate(-45deg) translate(-4.75px, 0.25px);
    background-color: var(--color-primary);
}

/* MAIN */

/* Swiper */

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

/* Banner Section */

.banner {
    width: 100%;
    position: relative;
}

.banner__swiper {
    position: relative;
    height: 1194px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.banner__swiper-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    position: absolute;
    top: 50%;
    right: 80px;
    z-index: 100;
    transform: translateY(-50%);
}

.banner__swiper-pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.banner__swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 0;
    opacity: 1;
    background-color: var(--color-white);
    cursor: pointer;
}

.banner__swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.banner__swiper-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;

}

.banner__swiper-button-next,
.banner__swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;

    cursor: pointer;
}

.banner__swiper-button-next path,
.banner__swiper-button-prev path {
    transition: all var(--transition-duration);
}

.banner__swiper-button-next:hover path,
.banner__swiper-button-prev:hover path {
    stroke: var(--color-primary);
}

.banner__search {
    position: absolute;
    left: 0;
    bottom: 270px;
    z-index: 100;
}

/* Travelspot section */

.section-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 140px;
    padding-bottom: 140px;
}

.travelspot {
    width: 100%;
    overflow: hidden;
}

.travelspot__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 15px;
}

.travelspot-container {
    max-width: 1586px;
    padding: 140px 0 125px;
    gap: 85px;
}

.travelspot__swiper {
    margin: 0;
    padding: 15px;
}

.travelspot__swiper .swiper-slide {
    width: 497px;
}


/* Offers section */

.offers-container {
    max-width: 1586px;
    padding: 140px 0 125px;
    gap: 85px;
}

.offers__top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 15px;
}

.offers__swiper {
    padding: 15px;
}

/* Blog Section */

.blog__wrapper {
    display: flex;
    gap: 32px;
}

.blog__img-block {
    height: 873px;
    border-radius: 26px;
    flex: 1;
    position: relative;
}

.blog__img-block:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    background-color: var(--color-overlay-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blog__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 26px;
}

.blog__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex: 1;
}

.blog__text {
    font-size: 24px;
    line-height: 217%;
}

.blog__read-more {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    line-height: 217%;
    color: var(--color-primary);
}

/* Tours Section */

.tours {
    width: 100%;
    overflow: hidden;
}

.tours .nav-buttons {
    display: none;
}

.tours__container {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    gap: 85px;
}

.tours__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex: 0 0 400px;
    width: 100%;
    max-width: 400px;
}

.tours__btn-wrapper {
    margin-left: 40px;
    position: relative;
}

.tours__btn {
    padding: 20px;
}

.tours__btn-wrapper::after,
.tours__btn-wrapper::before {
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    position: absolute;
    z-index: -1;
}

.tours__btn-wrapper::before {
    background-color: var(--color-secondary);
    top: -14px;
    left: -14px;
}

.tours__btn-wrapper::after {
    background-color: var(--color-grey);
    bottom: -14px;
    right: -14px;
}

.tours__swiper {
    overflow: hidden;
    padding: 140px 15px;
}

.tours__swiper .swiper-slide {
    width: auto;
}

/* Gallery Section */

.gallery__container {
    max-width: 1586px;
    padding: 140px 0 125px;
    gap: 0;
}

.gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 15px;
}

.gallery__swiper {
    padding: 100px 15px 15px;
}

/* Reviews Section */

.reviews__container {
    max-width: 1586px;
    padding: 140px 0 125px;
    gap: 95px;
}

.reviews__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 15px;
}

.reviews__swiper {
    padding: 65px 15px 15px;
}

.reviews__swiper .swiper-slide {
    width: auto;
}

@media (max-width: 1917px) {

    .container {
        max-width: 1376px;
    }

    .travelspot-container,
    .offers-container,
    .gallery__container,
    .reviews__container {
        max-width: 1406px;
    }

    /* Banner Section */

    .banner__search {
        max-width: 1205px;
    }

    .banner__swiper-navigation {
        right: 32px;
    }

    /* Blog Section */

    .blog__img-block {
        height: 802px;
    }

    /* Tours Section */

    .tours__container {
        gap: 65px;
    }

    /* Gallery Section */

    .gallery-card__img {
        height: 469px;
    }

    /* Reviews Section */

    .review-card__content {
        max-width: 562px;
    }

}

@media (max-width: 1439px) {

    .container {
        max-width: 1088px;
    }

    .section-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .travelspot-container,
    .offers-container,
    .gallery__container,
    .reviews__container {
        max-width: 1118px;
        padding-bottom: 85px;
    }

    .h1-title {
        font-size: 64px;
    }

    /* Banner Section */

    .banner__swiper {
        height: 880px;
    }

    .banner__search {
        max-width: 1056px;
        bottom: 150px;
    }

    .banner-slide {
        height: 880px;
        padding: 200px 0;
    }

    .search__group {
        /* grid-template-columns: repeat(2, 1fr); */
        padding: 54px 100px 54px 0;
    }

    /* Offers Section */

    .offer-card__content {
        padding: 20px 24px;
    }

    .offer-card__from {
        font-size: 18px;
    }

    .offer-card__price {
        font-size: 28px;
    }

    .offer-card__btn {
        padding: 16px 24px;
    }

    /* Blog Section */

    .blog__img-block {
        height: 686px;
    }

    .blog__text {
        font-size: 18px;
        line-height: 233%;
    }

    /* Tours Section */

    .tours__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .tours-card {
        height: 350px;
        width: 250px;
    }

    .tours__swiper {
        padding: 100px 15px;
    }

    /* Gallery Section */

    .gallery-card__img {
        height: 351px;
    }

    /* Reviews Section */

    .review-card__content {
        max-width: 500px;
    }

    /* Footer */

    .footer__subscribe {
        padding: 60px 40px;
        gap: 60px;
    }
}


@media (max-width: 1151px) {

    .container {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-container {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .travelspot-container,
    .offers-container,
    .gallery__container,
    .reviews__container {
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 65px;
    }


    .h1-title,
    .h2-title {
        font-size: 54px;
    }

    /* Header */

    .logo {
        width: 194px;
        height: 50px;
    }

    .header__wrapper>.menu,
    .header__wrapper>.header__btn-wrapper {
        display: none;
    }

    /*🍔Burger menu🍔*/

    .burger-btn {
        display: flex;
    }

    .header.open .burger-btn {
        position: fixed;
        top: 32px;
        right: 20px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 60px;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100vh;
        padding: 100px 40px;
        background-color: var(--color-secondary);
        transition: right var(--transition-duration);
    }

    .header.open .burger-menu {
        right: 0;
    }

    .burger-menu .menu__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .burger-menu .menu__item {
        padding: 10px;
    }

    .burger-menu__btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    /* Banner Section */

    .banner__swiper {
        height: 789px;
    }

    .banner__search {
        max-width: 670px;
        bottom: 75px;
    }

    .banner-slide {
        height: 789px;
        padding: 214px 0;
    }

    .banner__swiper-navigation {
        right: 36px;
    }

    .search__group {
        grid-template-columns: repeat(2, 1fr);
        padding: 23px 80px 23px 0;
    }

    /* Travelspot section */

    .travelspot-card__content {
        height: 456px;
    }

    /* Blog Section */

    .blog__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog__img-block {
        height: 555px;
        flex: initial;
    }

    /* Tours Section */

    .tours__swiper {
        padding: 88px 15px;
    }

    .tours__container {
        flex-direction: column;
        align-items: initial;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 0;
        padding-left: 0;
        gap: 32.5px;
    }

    .tours__info {
        margin: 0 15px;
        flex: initial;
        max-width: initial;
    }

    .tours-card {
        width: 100%;
        transform: translateY(73px);
        /* Принудительно раскрываем */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .tours-card .tours-card__img-wrapper {
        transform: translateY(-146px);
        /* Смещаем изображение */
    }

    .tours .nav-buttons {
        display: flex;
        align-self: flex-end;
        margin-right: 20px;
    }

    /* Footer */

    .footer__main-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .footer__subscribe {
        flex-direction: column;
        padding: 40px;
    }

}

@media (max-width: 767px) {

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .travelspot-container,
    .offers-container,
    .gallery__container,
    .reviews__container,
    .tours__container {
        margin-left: 1px;
        margin-right: 1px;
        gap: 0;
    }

    .h1-title,
    .h2-title {
        font-size: 40px;
    }

    .section-top {
        flex-direction: column;
        align-items: initial;
        gap: 32px;
    }

    .nav-buttons {
        align-self: center;
    }

    /* Header */

    /*🍔Burger menu🍔*/

    .burger-menu {
        padding: 100px 20px;
    }

    .header.open .burger-btn {
        right: 16px;
    }

    /* Banner Section */

    .banner-slide {
        height: 1210px;
    }

    .banner-slide__img {
        height: 1210px;
    }

    .banner__swiper {
        height: 1210px;
    }

    .banner__swiper-navigation {
        display: none;
    }

    .banner__search {
        width: calc(100% - 32px);
        max-width: 100%;
        flex-direction: column;
        bottom: 100px;
        left: 16px;
        right: 16px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 26px;
    }

    .search__group {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 20px 80px;
    }

    .search__btn {
        max-width: 100%;
        justify-content: center;
        border-radius: 0 0 26px 26px;
        padding: 40px 20px;
    }

    /* Travelspot section */

    .travelspot-card__content {
        height: 320px;
    }

    /* Tours section */

    .tours .nav-buttons {
        align-self: center;
        margin-top: 29px;
    }

    /* Gallery Section */

    .gallery__swiper {
        padding-top: 55px;
    }

    /* Reviews section */

    .reviews__swiper {
        padding-top: 80px;
    }

    .review-card__content {
        max-width: 100%;
    }

    /* Footer */

    .footer {
        margin-top: 209px;
    }

    .footer__subscribe {
        width: calc(100% - 32px);
        left: 16px;
        right: 16px;
        padding: 40px 20px;
        transform: initial;
        top: -209px;
    }

    .subscribe__form {
        flex-direction: column;
        align-items: center;
    }

    .subscribe__label {
        width: 100%;
    }

    .subscribe__input {
        width: 100%;
        min-width: initial;
    }

    .subscribe__btn {
        width: 100%;
    }

    .footer__main-list {
        grid-template-columns: repeat(1, 1fr);
    }

}
